// @import

// "fonts/fonts";

// Font sizes
$body-regular: 14px;
$body-regular-lh: 1.5em;

// Font weights
$light: 100;
$regular: 400;
$bold: 800;
$black: 900;


// Type faces
$bodyDefault: 'Helvetica Neue',Helvetica,Arial,sans-serif;
